@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: theme('fontFamily.mono');
}

/* Custom Cyberpunk Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #FFD500;
  border-radius: 10px;
  border: 2px solid #000;
}